html,
body {
  margin: 0;
  padding: 0;
  background-color: #202020;
}

canvas {
  display: block;
  top: 0px;
  position: absolute;
}

i {
  color: white;
  margin-left: 10px;
}

span {
  font-family: 'Consolas';
  display: block;
  font-size: 12px;
  color: #ffffff;
  top: 0px;
  margin: 4px;
  margin-top: 8px;
  margin-bottom: 0px;
}

#mandel-label {
  display: inline-block;
  margin-bottom: 10px;
  translate: 0px -2px;
}

.heading {
  width: 100%;
  background: #ffffff11;
  margin: 0;
  outline: solid 2px #222222;
  padding-top: 2px;
  padding-bottom: 2px;
}

#settings {
  position: absolute;
  display: block;
  margin: auto;
  right: 0;
  width: 200px;
  text-align: center;
  background-color: #00000022;
  border: solid 2px #222222;
  margin: 4px;
}

.slider {
  background: black;
  border: solid 2px #222222;
  width: 180px;
  margin-top: 0;
  margin-bottom: 0;
}
